<%- include('./partials/header.ejs') %>
<div class="main-container">
    <% if(studioapt){ %> 
        <% studioapt.forEach((property) => { %>
        <h3 class="house-type-title"><%= property.property_type %></h3>
        <div class="row row-cols-3 row-cols-md-4 g-4">
            <div class="col">
                <a href="/showproperty/<%= property.id %>" class="card h-100 card-house">
                    <img src="<%= property.property_image %>" alt="house image" />
                    <div class="card-body">
                    <h4 class="card-title"><%= property.property_name %></h4>
                    <p class="card-text"><%= property.property_type %></p>
                    <p class="card-house-location"><%= property.property_location %></p>
                    <p class="card-house-price">Ksh <%= property.property_price.toLocaleString("en-UK") %></p>
                    </div>
                </a>
            </div>
        </div>
        <% }) %>
    <% } %>
</div>

